<h1>Courses</h1>
<div *ngIf="courses">
<table class="table table-striped table-bordered">
  <tr>
    <th>Course code</th>
    <th>Course name</th>
    <th>Section</th>
    <th>Semester</th>  
  </tr>
<tr *ngFor="let course of courses">
  <td>
    <a [routerLink]="['/courses', course.coursecode]">{{course.coursecode}}</a>
  </td>
  <td>
    {{course.coursename}}
  </td>
  <td>
    {{course.section}}
  </td>
  <td>
    {{course.semester}}
  </td>
   <td>
    <a [routerLink]="['/courses', course.coursecode,'edit']">Edit</a>
  </td>
</tr>
    
</table>
</div>
<div *ngIf="!courses || courses.length === 0">
    No courses yet, why don't you <a [routerLink]="['/courses/create']">create one</a>?
</div>