 <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Student information management system</h1>
          <p class="lead text-muted">Student information management system allows you to view, add, drop and update course.Its also allow you to login as admin to manage all students</p>
          <p>
            <a [routerLink]="['/authentication/signin']"  class="btn btn-primary ">Sign In</a>
            <a [routerLink]="['/authentication/signup']" class="btn btn-danger ">Sign Up</a>
          </p>
        </div>
      </section>