<!DOCTYPE html>
<html lang="en">
<head>
   <% include ../views/partial_head %>
</head>
<body>
<% include ../views/partial_header %>
<div style="height:40px"></div>
<div class="col-sm-4"></div>
<div class="col-sm-4">


<div class="well">
<h2 class="col-sm-offset-4" style="margin-bottom:30px">Login form</h2>
  <form class="form-horizontal" method="post" action="/">
    <div class="form-group">
      <label class="control-label col-sm-3" for="username">Username:</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" id="username" placeholder="Enter username" name="username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="pwd">Password:</label>
      <div class="col-sm-9">          
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-success" style="width:100%!important">Submit</button>
   </div></div>
   <%if (typeof err !== 'undefined') { %>
    <div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Danger!</strong> <%=err%>
  </div><% } %>
    </div>
  </form>
</div>
<div class="col-sm-3"></div>
</body>
</html>
