<!DOCTYPE html>
<html lang="en">
<head>
   <% include ../views/partial_head %>
   <style> .center{
    position: relative;
  
}
</style>
</head>
<body>
<% include ../views/partial_header %>
<div class="well" style="position: relative;top: 40vh;">
<h1 class="center" style="text-align: center;">Thank you <%=msg%> for providing feedback</h1>

</div>
</body>
</html>